@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,600;0,700;1,700&display=swap");

* {
  font-family: "Cormorant Garamond", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgb(1, 5, 25);
}
/* Nav menu */
li,
a {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(235, 200, 138);
  text-decoration: none;
}

button {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(1, 5, 25);
  text-decoration: none;
  font-size: x-large;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transform: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: rgb(255, 237, 209);
}

button {
  padding: 9px 25px;
  background: rgba(235, 200, 138, 0.9);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background: rgb(0, 0, 0);
}
/* Banner Picture*/
.banner {
    color: chartreuse;
}

img.banner-picture {
  width: -webkit-fill-available;
  padding: 1%;
}

.banner h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

/* About section*/
.about {
  padding: 5%;
  margin: 1%;
  color: rgb(235, 200, 138);;
  display: inline-block;
}

.about h1 {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}

.about p {
  font-size: 24px;
}

.about p img {
  margin: 5% 2%;
  padding: 8% 2%;
  background: rgb(205, 205, 205);
  float: left;
}
/*Project Section*/

.project-item{
    width: 350px;
    height: 350px;
    border: 5px solid rgb(144, 207, 223);
    margin: 0 15px;
    color: rgb(235, 200, 138);
    display: inline-block;
}






/*Hire Section*/
h1 {
  margin: 10px 0 0 0;
  color: rgb(235, 200, 138);
}
h4{
  margin: 0 0 20px 0;
  color: rgb(235, 200, 138);
}
#contact-form {
  background-color: rgb(144, 207, 223);
  padding: 5px 10px 10px 10px;
  max-width:100%;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  border-radius:7px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
}
#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label { 
  font-size: 20px;  
  margin-bottom: 2px;
  font-family: "Cormorant Garamond", serif;
  color: rgb(235, 200, 138);
} 
#contact-form input,   
#contact-form select,   
#contact-form textarea { 
  width:100%;
  background: rgb(1, 5, 25);
  border: 2px solid  rgb(144, 207, 223); 
  -moz-border-radius: 4px;  
  -webkit-border-radius: 4px;  
  border-radius: 4px;
  margin-bottom: 25px;  
  padding: 5px; 
  color: rgb(235, 200, 138); 
}  
#contact-form input:focus,   
#contact-form select:focus,   
#contact-form textarea:focus {  
  background-color: rgb(1, 5, 25); 
}  
#contact-form textarea {
  width:100%;
  height: 150px;
}
#contact-form button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background: rgb(235, 200, 138);
  color: rgb(1, 5, 25);
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
  font-size: x-large;
  font-weight: 700;
}
#contact-form button[type="submit"]:hover {
  background: rgb(255, 237, 209);
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {  
  box-shadow: none;
  -moz-box-shadow: none;  
  -webkit-box-shadow: none;  
  -o-box-shadow: none;  
} 
#contact-form .required {  
  font-weight:bold;  
  color: rgb(235, 200, 138);      
}

/* Hide success/failure message
  (especially since the php is missing) */
#failure, #success {
  color: rgb(255, 255, 255); 
  display:none;  
}

